ul{
    z-index: 1 !important;
    position: fixed !important;
    top: 60px !important;
    left: 0px !important;
    width: 100% !important;
    background: #a7c957 !important;
    color: white !important;
    padding-left: 240px !important;
    padding-right: 10px !important;
    text-decoration: none !important;
    text-align: right !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    margin: 0 !important;
}
.st-emotion-cache-1m0wf70{
    background-color: #f2e8cf !important;
}
ul li{
    display: inline-block !important;
    padding: 0 20px !important;
    transition: all 0.3s ease !important;
}
ul li:hover{
    background-color: rgba(255, 255, 255, 0.15) !important;
    transform: translateY(-2px) !important;
}
.st-emotion-cache-pxambx{
    background-color: #6a994e;
}
input{
    background-color: #f2e8cf !important;
}
.st-bx{
    background-color: #f2e8cf !important;
}
[class="stChatMessage st-emotion-cache-1iitq1e e1ypd8m70"]{
    background-color: #6a994e;
}
[data-testid="stAlertContainer"]{
    background-color: #6a994e;
}
[data-testid="stSidebar"] {
    background: #6a994e !important;
    color: #ffffff !important;
    border-radius: 5px;
}
[data-testid="stAppViewContainer"] {
    background: #a7c957 !important;
}
[data-testid="stBottomBlockContainer"]{
    background: #bc4749 !important;
    max-width: 100% !important;
    padding: 15px ;
    border-radius: 5px ;
}
[data-testid="stToolbar"]{
    background: #a7c957 !important;
}
[data-testid="stWidgetLabel"]{
    color: #000;
    justify-content: center !important;
}
[class="st-emotion-cache-128upt6 e4man113"]{
    height: fit-content;
}
[data-testid="stBaseButton-secondary"]{
    background-color: #bc4749 !important;
    color: #ffffff;
    border: 1px solid #000;
    font-weight: bold;
}
[data-testid="stBaseButton-secondary"] p{
    font-weight: bold;
}
[data-testid="stMarkdownContainer"] p{
    font-size: larger;
}
[data-testid="stTextInputRootElement"]{
    background-color: #f2e8cf;
}
[id="lang-chain-chat-with-mongo-db"]{
    letter-spacing: 0.2rem;
    padding-bottom: 0px !important;
}
[class="st-emotion-cache-yd4u6l exaa2ht1"]{
    background-color: #f2e8cf !important;
}
[class="st-emotion-cache-119tkyc e1gryr920"]{
    background-color: #f2e8cf !important;
} 
[class="object-key-val"]{
    background-color: #f2e8cf;
    border-radius: 5px;
}

@media screen {
    @media (max-width: 750px) {
    .stVerticalBlock{
        /* padding-top: 120px !important; */
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    ul{
        padding-left: 10px !important;
        padding-right: 10px !important;
        text-align: center !important;
        top: 60px !important;
    }
    ul li{
        padding: 0 10px !important;
        font-size: 14px !important;
    }
    [data-testid="stBottomBlockContainer"]{
        padding: 5px;
    }
}
}
